@import "./assets/css/style.bundle.css";
@import "./assets/plugins/global/plugins.bundle.css";
@import "./assets/plugins/custom/prismjs/prismjs.bundle.css";

.disable-click {
    pointer-events: none;
    cursor: default;
}
.fa-heart{
    color: #e74c3c;
}
